<h2>Registro</h2>

{{#if errors}}
    <ul style="color: red;">
        {{#each errors}}
            <li>{{msg}}</li>
        {{/each}}
    </ul>
{{/if}}

<form action="/api/sessions/register" method="POST">
    <label for="first_name">Nombre:</label>
    <input type="text" name="first_name" value="{{formData.first_name}}" required>

    <label for="last_name">Apellido:</label>
    <input type="text" name="last_name" value="{{formData.last_name}}" required>

    <label for="email">Email:</label>
    <input type="email" name="email" value="{{formData.email}}" required>

    <label for="age">Edad:</label>
    <input type="number" name="age" value="{{formData.age}}" required>

    <label for="password">Contraseña:</label>
    <input type="password" name="password" value="{{formData.password}}" required>

    <button type="submit">Registrarse</button>
</form>

<br>
<h3>¿Ya tienes una cuenta? </h3>
<a href="/login">Inicia sesión aquí</a>